[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://rospypi.github.io/simple"
verify_ssl = true
name = "ros"

[packages]
black = "*"
foxglove-data-platform = "*"
folium = "*"
isort = "*"
jupyterlab = "*"
jupyterlab_code_formatter = "*"
matplotlib = "*"
mcap = "*"
mcap-ros1-support = "*"
numpy = "*"
pandas = "*"
pandasql = "*"
rosbag = "*"

[dev-packages]

[requires]
python_version = "3.8"
