[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://rospypi.github.io/simple"
verify_ssl = true
name = "ros"

[packages]
black = "*"
foxglove-data-platform = "==0.2.0"
folium = "*"
genpy = { version = "==0.6.14", index = "ros" }
rospy = { version = "==1.15.11", index = "ros" }
isort = "*"
jupyterlab = "*"
jupyterlab_code_formatter = "*"
matplotlib = "*"
mcap = "*"
mcap-ros1-support = "==0.3.0"
numpy = "*"
pandas = "*"
pandasql = "*"

[dev-packages]

[requires]
python_version = "3.8"
